<!DOCTYPE html>
<html>
  <head>
    <title>DssdRails</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="red darken-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">DSSD - Grupo 4</a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%#= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
